# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 54899c7f99535d48df495f10de217a92d9b31756da67ee6cf0a00f69eec8d14efcce7374194ae10294bf5ad956dee476fdea98260545250d77529b8d74078676

test:
  secret_key_base: 17fdcf5b8db0aa65425b8c5e373428166ca032b0078419c6fa9cb020d1a19fd8edf1592c8578b7f64ee9822a7f4da59973708aa0460e56d86d86fd0b0e4ba761

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
