@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F7F6F2;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
background-color : #5CB85C;	
}

.navbar-default .navbar-brand {
font-family: guardian-egyptt, georgia, serif;
font_weight: 400;
color: #F6BD16;
font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1){
	clear: left;
}

.jumbotron {
  background-image: url(https://s3.amazonaws.com/vandalismo/listings/images/000/000/005/original/p_rio_de_janeiro_56.jpg);
}

.jumbotron { min-height: 250px; }
